.wrapper {
  visibility: hidden;
}

#btnDataUser, #configure, #btnPlay, .btnsubmit, .playWithDataUser{
  margin-top: 10px;
  border: none;
  background-color: rgb(87, 87, 177);
  color: white;
  font-size: 1rem;
  border-radius: 4px;
  height: 30px;
}
#btns{
  text-align: center;
}
.formDataUser{
  display: block;
  text-align: center;
}
#containerplay{
  visibility: hidden;
}
#quiz{
  visibility: hidden;
} 

.btnPlay{
  visibility: hidden;
}

.btnConfigure{
  visibility: hidden;
}
.input{
  margin-top: 20px;
}
.title-choices{
  margin-top: 30px;
}


