.wrapper {
  visibility: hidden;

}

.formDataUser{
  display: block;
}

#quiz{
  position: absolute;
  top: 80px;
  visibility: hidden;
} 

.btnPlay{
  visibility: hidden;
  /* display: block; */
}

.btnConfigure{
  visibility: hidden;
  /* display: block; */
}

